
@{
    ViewData["Title"] = "adminHome";
}
@{
    Layout = "~/Views/Shared/adminhomelayout.cshtml";
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
            color: #333;
        }

        p {
            text-align: center;
            font-size: 18px;
            margin-top: 20px;
            color: #555;
            
        }
    </style>
</head>

<body>

    <h1>adminHome</h1>

    <p><b>welcome @ViewData["Name"]</b></p>
    
</body>

</html>


