@model IEnumerable<Project_WEB2.Models.items>
@{
    Layout = "~/Views/Shared/customerhomelayout.cshtml";
}

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        footer {
            margin-top: auto;
        }
    </style>
</head>

<body>

    <div id="myCarousel" style="width:80% ; min-width:300px " class="carousel slide mx-auto" data-ride="carousel">
        <div class="carousel-inner" id="demo">
            @{
                var counter = 0;
            }
            @foreach (var item in Model)
            {
                <div class='carousel-item   @(counter == 0 ? "active"  : String.Empty)'>
                    <center> <img src="~/images/@item.imagefilename" height="400px" width="600px"> </center>
                    <div class='carousel-caption mx-auto' style='top:10%; left:15%;'>
                        <h3 style='width:100px' class='mx-auto bg-secondary  text-white'>  @item.price SR  </h3>
                        <h6 style='width:100px' class='mx-auto bg-light  text-white'>  <a asp-controller="orders" asp-action="buy_page" asp-route-id="@item.Id">buy</a>  </h6>


                    </div>
                </div>
                counter++;
            }
        </div>
        <a class="carousel-control-prev " href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon bg-secondary"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon bg-secondary"></span>
        </a>
    </div>

</body>

</html>